################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ID3V2-Editor/ID3V2-Editor-UI/obj
/ID3V2-Editor/.vs/ID3V2-Editor/v16
/.vs
/ID3V2-Editor/ID3V2-ClassLibrary/obj
/ID3V2-Editor/.vs/ID3V2-Editor/DesignTimeBuild/.dtbcache.v2
/ID3V2-Editor/ID3V2-Editor-UI/bin/Debug/netcoreapp3.1
/ID3V2-Editor/ID3V2-ClassLibrary/bin/Debug/netcoreapp3.1
/ID3V2-Editor
